
# The password for the user created in the unifi admin, insructions at
# https://unpoller.com/docs/install/gettingstarted#configuring-the-controller
UNIFI_DEFAULT_USER='unifipoller'
UNIFI_DEFAULT_PASS='some-great-password'
# URL for the UniFi Controller. Do not add any paths after the host:port
# Do not use port 8443 if you have a UDM; just use "https://ip".
UNIFI_DEFAULT_URL='https://192.168.10.1'
